html, body {
  background-color: #D1D0CE;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#infotext h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 15rem;
  font-size: 400%;
}

#infotext2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 150%;
}

#presentation img {
  padding: 1rem;
  padding-top: 7rem;
}

#presentation {
  background-color: #D1D0CE;
}

#moodimages {
  width: 60%;
}

#top-navigation-menu, #top-navigation-menu ul {
  background-color: transparent;
  text-align: center;
  font-size: 100%;
  padding-right: 1rem;
}

#top-navigation-menu a {
  color: white;
  text-shadow: 1px 1px gray;
}

#top-navigation-menu li {
  padding-right: 1rem;
}

#dropdown-moods {
  border:none;
}

#dropdown-moods li {
  padding-left: 5rem;
}

a:hover {
  opacity: 0.75;
}

.homepage {
  height: 79%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -4rem;
}

#homepageneutral {
  background-image: url("../images/neutral-background.jpg");
}

#homepagehappy {
  background-image: url("../images/happy-banner4.jpg");
}

#homepagerelaxed {
  background-image: url("../images/relaxed-banner2.jpg");
}

#homepagesad {
  background-image: url("../images/sad-banner2.jpg");
}

#homepageirritated {
  background-image: url("../images/irritated-banner.JPG");
}

#title {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 500%;
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px gray;
}

#sub-title {
  color: white;
  font-family: 'Tangerine', cursive;
  font-size: 350%;
  position: absolute;
  top: 60%;
  left: 0%;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px gray;
}

.flightform {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#flightformneutral {
  background-color:	#87CEFA;
}

#flightformhappy {
  background-color: #ffbe76;
}

#flightformrelaxed {
  background-color: #81ecec;
}

#flightformsad {
  background-color: #badc58;
}

#flightformirritated {
  background-color: #2980b9;
}

.destination {
  margin-top: 0rem;
  background-color: #E5E4E2;
}

.destination p {
  color: #696969;
  text-align: center;
  font-size: 140%;
  padding-top: 3.5rem;
  padding-bottom: 0rem;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;

}

#divheader1 h1 {
  color: #696969;
  font-size: 500%;
  text-align: center;
  font-family: 'Tangerine', cursive;
  margin-top: 1rem;
}

#card {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #f0f0f0;
}

#card p {
  font-size: 100%;
  margin-top: -3rem;
}

#card img {
  height: 70%;
  width: 100%;
}

.fluid {
  width: 80%;
}

#about p {
  color: #696969;
  font-size: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

#about {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

#about h1 {
  color: #696969;
  font-family: 'Tangerine', cursive;
  font-size: 500%;
  text-align: center;
  padding-bottom: 3rem;
}

@media screen and (min-width: 64em) and (max-width: 80em) {
  .fluid {
    width:100%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #title {
    font-size: 400%;
  }
  #sub-title {
    font-size: 300%;
  }
  .destination p {
    font-size: 120%;
    margin-top: -1.5rem;
  }
  #divheader1 h1 {
    font-size: 400%;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  #title {
    font-size: 250%;
    top: 35%
  }
  #sub-title {
    font-size: 200%;
    top: 63%;
  }
  .destination p {
    font-size: 120%;
    margin-top: -4rem;
  }
  .flightform {
    margin-top: 3.5rem;
  }
  #divheader1 h1 {
    font-size: 400%;
  }
  #card {
    overflow: auto;
  }
  #card p {
    font-size: 80%;
  }
  #about p {
    text-align: center;
  }
  #top-navigation-menu {
    display: none;
  }
}
