.section, .slide {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	color: white;
	font-size: 50px;
	text-shadow: 2px 1px #323232;
	position: relative;
	left: 5%;
}

h2 {
	color: white;
	font-size: 35px;
	text-shadow: 2px 1px #323232;
	position: relative;
	left: 10%;
}

h3 {
	color: white;
	font-size: 50px;
	text-shadow: 2px 1px #323232;
	position: relative;
	left: 5%;
	top: -40%;
}

p {
	color: white;
	font-size: 20px;
	text-shadow: 2px 1px #323232;
	position: relative;
	left: 5%;
	top: 35%;
}

#section0 {
	background-image: url("../images/England/Windsor_Castle.jpg");
}

#slide1 {
	background-image: url("../images/England/Tower_of_London.jpg");
}

#slide2 {
	background-image: url("../images/England/Herstmonceux_Castle.jpg");
}

#slide3 {
	background-image: url("../images/England/Arundel_Castle.jpg");
}

#slide4 {
	background-image: url("../images/England/Caerhays_Castle.jpg");
}

#slide5 {
	background-image: url("../images/England/Eastnor_Castle.jpg");
}

#slide6 {
	background-image: url("../images/France/Mont_St-Michel.jpg");
}

#slide7 {
	background-image: url("../images/France/Chambord_Castle2.jpg");
}

#slide8 {
	background-image: url("../images/France/Chenonceau_Castle.jpg");
}

#slide9 {
	background-image: url("../images/France/Challain_Castle.JPG");
}

#slide10 {
	background-image: url("../images/France/Pierrefonds_Castle.JPG");
}

#slide11 {
	background-image: url("../images/Germany/Neuschwanstein_Castle_2.jpg");
}

#slide12 {
	background-image: url("../images/Germany/Burg_Hohenzollern_ak.jpg");
}

#slide13 {
	background-image: url("../images/Germany/Schweriner_Schloss_Schwerin.jpg");
}

#slide14 {
	background-image: url("../images/Germany/Schloss_Drachenburg_Bild_2.jpg");
}

#slide15 {
	background-image: url("../images/Germany/Wierschem,_Burg_Eltz,_2012-08_CN-01.jpg");
}
