body, html {
    height: 100%;
    background-color: #0B3C5D;
    color: #D8D8D8;
    position: relative;
}

.rubrik {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

p {
  font-family: 'Tenor Sans', sans-serif;
}

.parallax {
    background-image: url("../images/Framsida.jpg");
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stor {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  top: 40%;
  line-height: 70px;
  font-family: 'Cantarell', sans-serif;
}

#liten {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  top: 40%;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Cantarell', sans-serif;
}

.skrolla-ned {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 85%;
  font-size: 24px;
  color: white;
}

#koncept {
  background-color: #0B3C5D;
  color: #D8D8D8;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#video {
  background-color: #1D2731;
  padding-top: 50px;
  padding-bottom: 30px;
}

#modell {
  background-color: #0c0c0c;
  padding-top: 50px;
  padding-bottom: 80px;
}

#AR {
  background: #1D2731;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.thumbnail {
  margin-top: 20px;
}

#om {
  background-color: #0B3C5D;
  font-size: 16px;
  padding-bottom: 30px;
}

.navbar-text {
  float: none;
  text-align: center;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .skrolla-ned {
    font-size: 12px;
  }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  #stor {
    font-size: 16px;
  }
  .skrolla-ned {
    font-size: 12px;
  }
  #stor {
    display: none;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #stor {
    font-size: 32px;
  }
  #liten {
    display: none;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  #stor {
    font-size: 40px;
  }
  #liten {
    display: none;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  #stor {
    font-size: 48px;
  }
  #liten {
    display: none;
  }
}
