body, html {
  height: 100%;
  position: relative;
  background-color: #191919;
  margin: 0;
  padding: 0;
}

#homepage {
background-image: url("../images/sad_background.jpg");
height: 100%;
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: -4rem;
}

#title {
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 500%;
  position: absolute;
  top: 75%;
  left: 8%;
}

#sub-title {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 350%;
  position: absolute;
  top: 85%;
  left: 15%;
}

#arrow {
  height: 3%;
  width: 3%;
  margin: auto;
  position: absolute;
  top: 90%;
  left: 49%;
}

#top-navigation-menu,
#top-navigation-menu ul {
  background-color: transparent;
  font-size: 110%;
  padding-right: 2rem;
  padding-top: 1rem;
}

#top-navigation-menu a {
  color: #e0e0e0;
  text-shadow: 2px 2px black;
}

#top-navigation-menu li {
  padding-right: 2rem;
}

#divheader1 h1 {
  text-align: center;
  color: #e0e0e0;
  font-size: 500%;
  margin-top: 0.5rem;
  font-family: 'Tangerine', cursive;
}

#koncept p {
  color: #e0e0e0;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
}

#divheader2 h1 {
  color: #e0e0e0;
  font-size: 500%;
  text-align: center;
  font-family: 'Tangerine', cursive;
  margin-top: 1rem;
}

#example p {
  color: #e0e0e0;
  text-align: center;
  font-size: 150%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

#example {
  border-top: solid 0.2rem;
  margin-top: 2rem;
}

.grid-container {
  max-width: 90%;
}

a:hover {
  opacity: 0.75;
}

#divheader3 {
  color: #e0e0e0;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#colourinfo p {
  color: #e0e0e0;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  font-family: 'Raleway', sans-serif;
}


.parallax {
  background-image: url("../images/parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#divheader4 h1 {
  color: #e0e0e0;
  font-family: 'Tangerine', cursive;
  font-size: 500%;
  text-align: center;
  padding-bottom: 3rem;
}

#divheader5 {
  color: #e0e0e0;
  font-size: 150%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2rem;
}

#about p {
  color: #e0e0e0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Raleway', sans-serif;
}

#about {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  #title {
    font-size: 180%;
    left: 0;
  }
  #sub-title {
    font-size: 150%;
    left: 5%;
  }
  #arrow {
    top: 93%;
    height: 5%;
    width: 5%;
  }
  .top-bar {
    display: none;
  }
  #koncept {
    margin-top: 5rem;
  }
  #koncept p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 70%;
  }
  #example p {
    font-size: 80%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #colourinfo p {
    padding: 1rem;
    padding-bottom: 1rem;
    font-size: 70%;
  }
  #about p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 70%;
    padding-bottom: 1rem;
  }
  #about {
    margin-bottom: -1rem;
    margin-top: 3rem;
  }
  #divheader1 h1,
  #divheader2 h1,
  #divheader4 h1 {
    font-size: 200%;
  }
  #divheader3,
  #divheader5 {
    font-size: 90%;
    margin-bottom: -1rem;
  }
  #divheader4 h1 {
    margin-bottom: -1rem;
  }
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #title {
    font-size: 350%;
  }
  #sub-title {
    font-size: 250%;
  }
  #arrow {
    top: 93%;
    height: 4%;
    width: 4%;
  }
  #top-navigation-menu li {
    padding-right: 0rem;
  }
  #divheader1 h1,
  #divheader2 h1,
  #divheader4 h1 {
    font-size: 350%;
  }
  #koncept p,
  #colourinfo p,
  #about p {
    font-size: 90%;
  }
  #example p {
    font-size: 100%;
  }
  #divheader3,
  #divheader5 {
    font-size: 120%;
  }
}
